<header class="navbar">
    <div class="container">
      <div class="logo">
        <a routerLink="/">My Portfolio</a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </header>
  