* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background: url('/src/assets/main-img.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.home-section {
  max-width: 900px;
  width: 100%;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.profilePic {
  width: 20rem;
  height: 20rem;
  margin-top: 20px;
}

.btn {
  background-color: #f0a500;
  color: white;
  padding: 0.75rem 1.5rem;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #d18e00;
}

@media (min-width: 768px) {
  .home {
    flex-direction: row;
    height: auto;
    padding: 7rem;
  }

  .home-section {
    max-width: 600px;
    text-align: left;
  }

  .home h1 {
    font-size: 3rem;
  }

  .home p {
    font-size: 1.5rem;
  }

  .profilePic {
    width: 25rem;
    height: 25rem;
    margin-top: 0;
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .home-section {
    max-width: 700px;
  }

  .home h1 {
    font-size: 3.5rem;
  }

  .home p {
    font-size: 1.75rem;
  }

  .profilePic {
    width: 30rem;
    height: 30rem;
  }
}


@media (max-width: 480px) {

  .home-section h1 {
    font-size: 1.3rem;
   
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .home-section p {
    font-size: 1rem;
   
    margin-bottom: 1rem;
    
  }
  .btn {
    background-color: #f0a500;
    color: white;
    padding: 0.5rem 0.5rem;
    margin: 6px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s;
  }

}